* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

body {
    background-color: #d9dcd6;
}
/* changed to target header element instead of div */
header {
    padding: 20px;
    background-color: #2a607c;    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}
header h1 .seo {
    color: #d9dcd6;
}
/* Changed "header > div" to target nav element */
nav {
    float: right; 
    margin-right: 20px;       
    padding-top: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}
/* changed name from hero to banner and fixed issue with flow*/
.banner {
    width: 100%;
    height: 800px;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;    
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    display: inline-block;   
    width: 75%;
    margin-left: 20px;
}

.content section {
    height: 300px;
    margin-bottom: 20px;
    padding: 50px;
    background-color: #0072bb;    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}

.content section img {
    max-height: 200px;
}

.content section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.benefits {
    float: right; 
    clear: both; 
    width: 20%;
    height: 100%;          
    margin-right: 20px;
    padding: 20px;
    background-color: #2589bd;    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* removed a lot of redundant css here and grouped the styles correctly */
.benefits section {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefits img {
    display: block;
    max-width: 150px;    
    margin: 10px auto;
}

/* changed target to footer element instead of div class */
footer {
    clear: both;    
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;    
}

footer h2 {
    font-size: 20px;
}